body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 50%;
    overflow: hidden;
    margin-left: 3%;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 5%;
}

li {
    margin: 0 15px;
    padding-right: 16px;
    
}

a {
    text-decoration: none;
    color: rgb(246, 101, 49);
}

.welcome-section {
    text-align: center;
    margin: 20px;
}
h1{
    color: rgb(246, 101, 49);
}
p{
    font-size: 25px;
}

.image-gallery ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
}

.image-gallery img {
    width: 150px;
    height: auto;
    border-radius: 10%;
    border: 2%;
    grid:10%;
    display: block;
}
